#left{
    background-color: rgb(255, 255, 255);
    /* height: 500px; */
    border-right: solid 1px black;
    overflow-y: scroll;
    overflow-x: hidden;
}
#leftdiv{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    margin-left: 10px;
    margin-top: 15px;
}
