#profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -70px;
    margin-left:470px;
    border: 2px solid white;
}
#name{
    text-align: center;
}
#right{
  margin-top: -3000px;
    margin-left:770px;
}
#userpic{
    width: 100px;
    height: 100px; 
    border-radius: 5px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }