#post{
    border-radius: 5px;
    box-shadow: 5px 10px 10px 10px #888888;
    width: 700px;
    height: 900px;
    margin-left: -55px;
    margin-top: 40px;
}
#ph{
   
    margin-left: -179px;
    margin-top: 100px;
   ;
}
#pimg{
    height:600px ;
    width: 620px;
    margin-top: 8px;
    margin-left: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items: center;
}
.flex-container > div {
   margin: 10px;
   
    font-size: 15px;
  }
  #lbutton{
      background-color: white;
      border:1px solid white;
      text-decoration: none;
  }